/* Styling die van toepassing is op index.html */

/* Zorgt er voor dat alles in het midden van de webpagina staat */
main, .imagecontainer{
    margin: 0;
    display: flex;
    justify-content: center;
}


/* Zet de tekst in het wit neer op de webpagina */
p{
    text-align:center;
    color: white;
    font-weight: bold;
    font-size: 32pt;
    margin: 0;
}

/* Maakt een p regular */
p.regular{
    font-weight: 100;
    font-size: 24;
    margin-bottom: 100px;
}

.imagecontainer{
    width: 100%;
}