body{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

main{
    width: 90%;
    height: 90%;
}

#fotoContainer{
    float: left;
    height: 90%;
    width: 30%;
}

#fotoBier{
	padding: 100px 100px 100px 150px;
}

#infoBierContainer{
    width: 70%;
}

#infoBier{
    float: right;
    height: 60%;
    width: 70%;
}

#info{
    float: left;
    width: 50%;
    height: 100%;
}

#extraInfoContainer{
    padding: 100px;
}

#buttons{
    float: right;
    width: 50%;
    height: 100%;
}

#buttonContainer{
    padding: 120px 100px 100px 30px;
}

#omschrijvingBier{
    float: right;
    height: 30%;
    width: 70%;
}

p{
    padding: 100px;
}

button{
    border-radius: 30px;
    height: 75px;
    width: 500px;
    border: none;
    margin: 5px 0px 5px 0px;
    margin-left: 8%;
    color: white;
    font-weight: bold;
    font-size: 24pt;
}

button#winkelwagen{
    background-color: #3B50A2;
    box-shadow: 0 5px rgb(4, 9, 49);
}

button#untappd{
	background-color: #fc0;
    box-shadow: 0 5px rgb(117, 136, 9);
}

button#overzicht{
    background-color: #0F7B36;
    box-shadow: 0 5px rgb(2, 56, 18);
}

button#winkelwagen:hover{
    background-color: #1B2653;
    box-shadow: 0 5px rgb(4, 9, 49);
}

button#untappd:hover{
	background-color: #DFB300;
    box-shadow: 0 5px rgb(117, 136, 9);
}

button#overzicht:hover{
    background-color: #13572C;
    box-shadow: 0 5px rgb(2, 56, 18);
}

h1, h2, p{
    color: white;
}

h2{
    font-weight: 100;
    margin: 0;
}

.breadcrumb{
    font-size: 16px;
    font-weight: 100;
}

.linkback{
    font-size: 16px;
    font-weight: 100;
    text-decoration: underline;
}

img{
	height: 400px;
}

nav>img{
	height: 50px;
	margin: 15px;
	background-color: white;
	border-radius: 5px;
}

#numberOfBeers{
	background-color: white;
	height: 20px;
	border-radius: 2px;
}